# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "contrast" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "IEEE VR 2027"
title_separator          : "|"
subtitle                 : "" # site tagline that appears below site title in masthead
name                     : "IEEE VR 2027"
description              : "The IEEE Conference on Virtual Reality and 3D User Interfaces"
url                      : # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo                     : "/favicon.png" # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "staticman", "staticman_v2", "utterances", "custom"
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
  utterances:
    theme                : # "github-light" (default), "github-dark"
    issue_term           : # "pathname" (default)
  staticman:
    branch               : # "master"
    endpoint             : # "https://{your Staticman v3 API}/v3/entry/github/"
reCaptcha:
  siteKey                :
  secret                 :
atom_feed:
  path                   : # blank (default) uses feed.xml
search                   :  # true, false (default)
search_full_content      :  # true, false (default)
search_provider          : # lunr (default), algolia, google
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true
# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
twitter:
  username               : IEEEVR
  
facebook:
  username               : IEEEVR
  app_id                 :
  publisher              :
  description            : "The IEEE Conference on Virtual Reality and 3D User Interfaces"
og_image                 :
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# Analytics
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          :
    anonymize_ip         : # true, false (default)


# Site Author
author:
  name             : "IEEE VR 2027"
  avatar           : # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : ""
  location         : "TBD"
  email            :
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      # url: "mailto:your.name@email.com"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      # url: "https://your-website.com"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      # url: "https://twitter.com/"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      # url: "https://facebook.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      # url: "https://github.com/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      # url: "https://instagram.com/"

# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/ieeevr"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      url: "https://www.facebook.com/ieeevr"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      # url:
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      # url:
    - label: "Bitbucket"
      icon: "fab fa-fw fa-bitbucket"
      # url:
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      # url:

navigation:
  main:
    - title: "Attend"
      children:
        - title: "Code of Conduct"
          url: /attend/code-of-conduct/
        - title: "Registration"
          url: /attend/registration/
        - title: "Venue"
          url: /attend/venue/
        - title: "Conference Center Map"
          url: /attend/conference-center-map/
        - title: "Practical Information"
          url: /attend/practical-information/
        - title: "DEIA Mentorship"
          url: /attend/mentorship/
        - title: "Accessibility"
          url: /attend/accessibility/
        - title: "Accommodations"
          url: /attend/accommodations/
        - title: "Food"
          url: /attend/food/
        - title: "DEIA Grants"
          url: /attend/DEIA-grants/
    - title: "Program"
      children:
        - title: "Program Overview"
          url: /program/overview/
        - title: "Keynote Speakers"
          url: /program/keynote-speakers/
        - title: "Papers"
          url: /program/papers/
        - title: "Posters"
          url: /program/posters/
        - title: "Panels"
          url: /program/panels/
        - title: "Workshops"
          url: /program/workshop/
        - title: "Tutorials"
          url: /program/tutorials/
        - title: "XR Gallery"
          url: /program/xrgallery/
        - title: "3DUI Contest"
          url: /program/3dui-contest/
        - title: "Research Demos"
          url: /program/demos/
        - title: "Future Faculty Forum"
          url: /program/future-faculty-forum/
        - title: "Doctoral Consortium"
          url: /program/doctoral-consortium/
        - title: "Social Program"
          url: /program/social-program/
        - title: "At a Glance"
          url: /program/at-a-glance/
    - title: "Contribute"
      children:
        - title: "Call for Papers"
          url: /contribute/papers/
        - title: "Call for Posters"
          url: /contribute/posters/
        - title: "Call for Workshops"
          url: /contribute/workshops/
        - title: "Call for 3DUI Contest Entries"
          url: /contribute/3dui-contest/
        - title: "Call for Research Demos"
          url: /contribute/demos/
        - title: "Call for Proposals \"XR Gallery\""
          url: /contribute/xrgallery/
        - title: "Call for Doctoral Consortium"
          url: /contribute/doctoral-consortium/
        - title: "Call for Tutorials"
          url: /contribute/tutorials/
        - title: "Call for Student Volunteers"
          url: /contribute/studentVolunteers/
        - title: "Call for Panels"
          url: /contribute/Panels/
        - title: "Call for Future Faculty Forum"
          url: /contribute/FutureFacultyForum/
        - title: "Call for Proposals"
          url: /contribute/proposals/
    - title: "Awards"
      children:
        - title: "VGTC Awards"
          url: /awards/vgtc/
        - title: "Conference Awards"
          url: /awards/conference-awards/
    - title: "Committees"
      children:
        - title: "Conference Committee"
          url: /committees/conference-committee/
        - title: "Program Committee"
          url: /committees/program-committee/
        - title: "Reviewers"
          url: /committees/reviewers/
        - title: "XR/VR Standardization Committee"
          url: /committees/XRâ„VR%20Standardization%20Committee/
        - title: "Steering Committee"
          url: /committees/steering-committee/
        - title: "Student Volunteers"
          url: /committees/sv/
    - title: "Resources"
      children:
        - title: "Environmental Evaluation"
          url: /resources/environmental-evaluation/
        - title: "Slide Templates"
          url: /resources/slide-templates/
        - title: "Poster Templates"
          url: /resources/poster-templates/
        - title: "Conference Logos"
          url: /resources/logos/
        - title: "Social Media Template"
          url: /resources/social-media/
    - title: "Sponsors & Exhibitors"
      children:
        - title: "Call for Sponsors & Exhibitors"
          url: /sponsors/call/
        - title: "Exhibition Area"
          url: /sponsors/exhibitor-area/
        - title: "Sponsors List"
          url: /sponsors/sponsors-list/
    - title: "Store"
      url: /store/
    - title: "Past Conferences"
      url: /past-conferences/

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: utf-8
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true
